@model IEnumerable<BookstoreApp.Models.author>

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>


@foreach (var author in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => author.au_fname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => author.au_lname)
    </td>

</tr>
}
